<!doctype html>
<html>
  <head>
    <title>
      Add Japanese Flashcard
    </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="/japanese/js/jquery.js"></script>
    <script type="text/javascript" src="/japanese/js/create.js"></script>
    <style>
        body         { padding-top:80px; }
    </style>
  </head>
  <body>
    <form action="javascript:console.log('wat');">
      <div>
        <input type="text" id="kanji" /> Kanji
      </div>
      <div>
        <input type="text" id="hiragana" /> Hiragana*
      </div>
      <div>
        <input type="text" id="english" /> English*
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
